:root{
    --primary-color:#7b2cbf;
    --bg-color:#edf2fb;
    --text-light:#ffffff;
    --card-bg:#ffffff;
    --disabled:#c0c0c0;
}

/* BODY */
body{
    margin:0;
    padding:0;
    font-family:'Inter',sans-serif;
    background:var(--bg-color);
    text-align:center;
}

/* HEADER */
header{
    background:var(--primary-color);
    color:var(--text-light);
    padding:20px;
}

/* CARD */
.card{
    background:var(--card-bg);
    margin:30px auto;
    padding:20px;
    width:80%;
    border-radius:8px;
}

/* LIST */
ul{
    list-style:none;
}

/* COMMON BUTTON */
.btn{
    padding:10px 18px;
    border-radius:6px;
    font-size:14px;
    margin:5px;
    transition:0.3s;
}

/* PRIMARY */
.btn-primary{
    background:var(--primary-color);
    color:var(--text-light);
    border:none;
    cursor:pointer;
}

/* OUTLINE */
.btn-outline{
    background:transparent;
    border:2px solid var(--primary-color);
    color:var(--primary-color);
    cursor:pointer;
}

/* HOVER */
.btn:hover{
    transform:scale(1.08);
}

/* ACTIVE */
.btn:active{
    transform:scale(0.90);
}

/* DISABLED */
.btn:disabled{
    background:var(--disabled);
    border:none;
    cursor:not-allowed;
    color:white;
}

/* FOOTER */
footer{
    margin-top:40px;
}
